/* 
    Crée le : 18 décembre 2019, 13:30:50
    Auteur    : SYLLA Mouhamed
*/

/* tous écrans mobiles */
@media screen and (max-width:399px){
    body{
        font-size: 10px;
        position: relative; /* pour photo identité */
    }

    /* titre  à gauche */
    body>header{
        display: block;
        float:left;
        width:60%;
        margin-bottom: 0.5em;
    }

    /* photo identité à droite */
    #civil>img {
        position: absolute;
        right:0px;
        top:0px;
        display: block;
        float:right;
        width:50%;
        max-width:130px;
        border: 3px solid white;
        border-radius: 5px;
        box-shadow : 0 0 3px blue;
    }
    
    /* bloc civilité sous photo */
    #civil{
        clear: both;
    }

    /* nom de la personne  - idem version Pc pour autres titres */
    #civil h1{ 
        font-size: 2em;
        margin: 0.625em  0px; 
        font-weight: bold;
        color: white;
        background-color: blue;
    }

    /* bloc divers */
    #divers {
        background-color: blue;
        color: white;
        padding: .5em  0.77972709551657% ; 
    }

    
    /* triangles pour détails à la demande */
    /* ----------------------------------- */
    #expe h1, #divers h2 {
        position: relative;
    }

    #expe h1 img, #divers h2 img {
        position: absolute;
        right: 0px;
        bottom : 0px;
    }

    /* énum divers et expé à la demande et positionnés en ligne */
    ul{
        display:none;
    }

    ul li{
        display: inline;
    }

    ul li:after {
        content:' - '; /* séparateur */
    }

    ul li:last-of-type:after {
        content:'.'; /* un point après le dernier */
    }

    /* affichage à la demande  */
    #expe h1:hover+ul, #divers h2:hover+ul{
        display: block;
    }

    /*  rotation triangle */
    #expe h1 img:hover, #divers h2 img:hover {
        transform: rotate(180deg);
        transition: transform 0.2s ease-in-out;
    }
}