html, body {
 margin: 0;
 padding: 0;
 }
body {
 background-color: white; 
 font-family: Verdana, sans-serif; 
 font-size: 100%;
 }

p,ul,li,td {
 color: black; 
 }

a:link {
 color: green;
 text-decoration: underline;
 }


a:visited {
 color: gray;
 }


a:hover {
 color: red;
 text-decoration: none;
}

a:active, a:focus {
 color: red;
}